node_modules
.vscode
.github
.gitignore
.gitmodules
storybook
.storybook
**/*test*
**/*Test*
dev_tools
docs
README.md
NEWS.md
LICENSE
jest.config.js
ELSindexesToChangeAfter
.elintrc.json
.eslintignore