@import "src/style/themes/ucsf/colors";

.loginPageContent {
  padding: 40px;

  .loginContainer {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;

    .logoTitleContainer {
      text-align: center;

      .logotTitle {
        color: $gray-1;
        font-size: 36px;
        margin-bottom: 30%;
      }
    }

    .loginHeader {
      display: flex;
      align-items: center;
    }

    .loginDescription {
      text-align: center;
      .loginDescText {
        color: $cyan-4;
      }

      .loginDescText {
        font-size: 16px;
        line-height: 24px;
      }
    }

    h1 {
      margin-left: 16px;
      line-height: 38px;
    }

    .loginButtons {
      button {
        height: auto;
        padding: 7px 65px;

        span {
          font-size: 28px;
        }
      }
    }
  }
}

@media (min-width: 1181px) {
  .loginContainer {
    .loginDescription {

      .loginDescText {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 1180px) {
  .loginContainer {
    .loginDescription {
      text-align: center;
    }
    .loginButtons {
      width: 100%;
      justify-content: center;
    }
  }
}

@media (max-width: 800px) {
  .loginPageContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 40px 16px;
    .loginContainer {
      margin: unset;
      .loginDescription {
        .loginDescText {
          color: $cyan-4;
        }

        .loginDescText {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .loginButtons {
    > div {
      width: 100%;

      [type="button"] {
        width: 100%;
      }
    }
  }
}
